$colors__black: #070707;
$colors__blue: #0040B2;
$colors__brand: #0DC8B0;
$colors__gray: #5A5A5A;
$colors__white: #f1f1f1;

$colors__beige: #F9F4F1;
$colors__khaki: #ECD7CA;



// Color assignments
$colors__gray-text: $colors__gray;