$colors__black: #070707;
$colors__blue: #0040B2;
$colors__brand: #0DC8B0;
$colors__gray: #5A5A5A;
$colors__gray--light: #f3f5f7;
$colors__white: #fff;

$colors__beige: #F9F4F1;
$colors__khaki: #ECD7CA;
$colors__facebook: rgb(66,103,178);
$colors__black-opaque: rgba(0,0,0,0.35);



// Color assignments
$colors__gray-text: $colors__gray;