/// Center Blocks
/// Must esttablish a max width or have a set width on element
/// @access public
/// @example scss - Usage
///   .foo {
///     @include center-block();
///   }
/// @example css - Result
///   .foo {
///     display: block;
///     margin-left: auto;
///     margin-rightt: auto
///   }
@mixin center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto
}