/// Modern font loading, supports ie10+
/// @access public
/// @param {String} $font-name  - Font name
/// @param {String} $file-path-location - full location of file
/// @param {Weight} $font-weight [normal] - Font weight, usually normal
/// @param {Style} $font-style [normal] - Font Style, usually normal
/// @example scss - Usage
///   
///   @include font-face('Museo', './assets/public/fonts/fontname');
///   
/// @example css - Result
///   
///   font-family: 'Museo';
///   src: url('./assets/public/fonts/fontname.woff2') format('woff2'), // Super Modern Browsers 
///     url('./assets/public/fonts/fontname.woff') format('woff'), // Pretty Modern Browsers 
///     url('./assets/public/fonts/fontname.ttf') format('truetype'), // Safari, Android, iOS
///     url('./assets/public/fonts/fontname.svg#Museo') format('svg'); // Legacy iOS 
///   font-weight: $font-weight;
///   font-style: $font-style;

@mixin font-face($font-name, $file-path-location, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family: $font-name;
        src: url('#{$file-path-location}.woff2') format('woff2'), // Super Modern Browsers 
            url('#{$file-path-location}.woff') format('woff'), // Pretty Modern Browsers 
            url('#{$file-path-location}.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$file-path-location}.svg##{$font-name}') format('svg'); // Legacy iOS 
        font-weight: $font-weight;
        font-style: $font-style;
    }
}