.btn {
  @include fonts-button();

  padding: $spacing__sm $spacing__bt;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid $colors__black;
    background-color: $colors__white;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:before {
    background-color: $colors__brand;
    top: $spacing__unit;
    left: $spacing__unit;
  }
  
  &:after {
    @include transition(transform);
    background-color: $colors__white;
  }

  &__label {
    @include transition(transform);

    position: relative;
    display: inline-block;
    z-index: 2;
  }

  @include screen-above('tablet') {
    
    padding: $spacing__bt $spacing__gutter;

    &:hover {
      &:after {
        transform: translate($spacing__unit, $spacing__unit);
      }
    }

    &:hover &{
      &__label {
        transform: translate($spacing__unit, $spacing__unit);
      }
    }
  }
}